.header {
 height: 10%;
 border: 1px solid red;
 display: flex;
 justify-content: end;
 align-items: center;
}

.header div {
  width: 80px;
  margin: 0 20px;
}

.header div:hover {
  cursor: pointer;
  color: blue;
}

