<h1>Iolanta Averyanova CV</h1>
<h2>Junior Front-end developer (and still a mom on maternity leave) based in Minsk</h2>

<!-- [View the Project on GitHub](https://github.com/iaveryanova?tab=projects)
[Email](https://myaccount.google.com/personal-info) / [LinkedIn](https://www.linkedin.com/feed/) / [GitHub](https://github.com/iaveryanova)
**Phone: +375298109242** -->

<h3>Education</h3>
<p>Belarusian State University - (Chemical faculty)(https://www.chemistry.bsu.by/index.php/ru/). Specialization - Chemistry, pharmaceutical activity (Chemist - pharmacist)</p>
<p>(2013 - 2017)</p>
<h3>Additional education</h3>
<p>[STEP Academy](https://itstep.by/) - Front-end developer</p>
<p>(december 2021 - Present)</p>

<h3>Experience</h3>
<p>[JLLC NATIVITA](https://nativita.by) - Regulatory Affairs Manager</p>
<p>(April 2017 - Present)</p>
<div>
<ul>
  <li>preparation of dossiers for state registration of medicines / pharmaceutical substances</li>
  <li>development of documentation for quality control of medicines</li>
  <li>interaction with goverment agencies and third-party organizations on registration issues</li>
  <li>communication with foreign partners (correspondence in English)</li>
  <li>daily work with MS Office and databases (PubMed, PubMed Central)</li>
</ul>
</div>

<h3>Languages</h3>
<p>English: Intermediate (daily correspondence)</p>

<h3>Skills</h3>
<ul>
  <li>HTML/CSS</li>
  <li>JavaScript</li>
  <li>jQuery</li>
  <li>CSS Preprocessors</li>
  <li>Responsive/Mobile Design</li>
  <li>Git/Version Control</li>
  <li>JavaScript Frameworks</li>
</ul>
