<div class="wrapper">
  <!-- <app-header></app-header> -->

  <div class="header">
    <div [class.active]="isMainPageVisible" (click)="showMainPage()">Главная</div>
    <div [class.active]="isPortfolioPageVisible" (click)="showPortfolioPage()">Портфолио</div>
    <div [class.active]="isContactsPageVisible" (click)="showContactsPage()">Контакты</div>
  </div>

  <app-main-layout [isMainPageVisible]="isMainPageVisible"
                   [isPortfolioPageVisible]="isPortfolioPageVisible"
                   [isContactsPageVisible]="isContactsPageVisible"
  ></app-main-layout>

  <!-- <div class="main-layout">

    <app-main-page *ngIf="isMainPageVisible"></app-main-page>

    <app-portfolio-page *ngIf="isPortfolioPageVisible"></app-portfolio-page>

    <app-contacts-page *ngIf="isContactsPageVisible"></app-contacts-page>
  </div> -->

  <!-- <app-footer></app-footer> -->

  <div class="footer"></div>
</div>

